<div class="main-home">
  <div class="home-root section-one-pd-80">
    <div class="inner-container padding-top-bottom">
      <ng-container>
        <app-home-section-one></app-home-section-one>
      </ng-container>
    </div>
  </div>

  <div class="home-root section-two-pd-80">
    <div class="inner-container padding-top-bottom">
      <ng-container>
        <app-home-section-two></app-home-section-two>
      </ng-container>
    </div>
  </div>

  <div class="home-root section-three-pd-96">
    <div class="inner-container padding-top-bottom">
      <app-home-section-three></app-home-section-three>
    </div>
  </div>

  <div class="home-root section-four-pd-112 section-blue">
    <div class="inner-container padding-top-bottom">
      <app-home-section-four></app-home-section-four>
    </div>
  </div>

  <div class="home-root section-five-pd-112">
    <div class="inner-container padding-top-bottom">
      <app-home-section-five></app-home-section-five>
    </div>
  </div>

  <div class="home-root section-six-pd-112">
    <div class="inner-container padding-top-bottom">
      <app-home-section-six></app-home-section-six>
    </div>
  </div>

  <div class="home-root section-seven-pd-112">
    <div class="inner-container padding-top-bottom">
      <app-home-section-seven></app-home-section-seven>
    </div>
  </div>
</div>
