.parent-telephony-section-one {
  background: var(--white);
}

.home-root .header-title-1 {
  font-size: 48px;
  line-height: 48px;
  font-weight: 900;
  color: var(--light-primary-80);
  margin: 0 0 16px 0 !important;
  padding: 0 !important;
}

.home-root .header-title-2 {
  font-size: 48px;
  line-height: 40px;
  font-weight: 900;
  color: var(--light-midnight-violet-40); //C135C5;
  margin: 0 0 24px 0 !important;
  padding: 0 !important;
}

.home-root .header-title-3 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  color: var(--light-text-grey-80);
  padding: 0 !important;
}

.home-root .paragraph-handling {
  line-height: 24px;
  font-size: var(--font-size-title);
  font-weight: 500;
}

.outbound-root .paragraph-handling {
  line-height: 24px;
  font-size: var(--font-size-title);
  font-weight: 500;
}

.outbound-root .header-title-1 {
  font-size: var(--font-size-sub-title);
  line-height: 24px;
  font-weight: 500;
  background-color: var(--light-midnight-violet-40); //C135C5;
  border-radius: 4px;
  margin: 0 0 20px 0 !important;
  padding: 4px 8px !important;
  display: inline-block;
  color: var(--white);
}

.outbound-root .header-title-2 {
  font-weight: 900;
  font-size: 48px;
  line-height: 48px;
  margin: 0 0 16px 0 !important;
  padding: 0 !important;
  color: var(--black);
}

.outbound-root .header-title-3 {
  font-weight: 900;
  font-size: 48px;
  line-height: 48px;
  margin: 0 0 24px 0 !important;
  padding: 0 !important;
  color: var(--black);
}

.mt-48 {
  margin-top: 48px;
}

.parent-telephony-section-one .cloud-telephony-section-two > img {
  position: relative;
  top: -32px;
}

.parent-telephony-section-one .carousel {
  display: flex;
  overflow: hidden;
  width: 400px;
  height: 400px;
  position: relative;
  border-radius: 100%;
}

.parent-telephony-section-one .carousel-container {
  display: flex;
  width: 100%;
  height: 100%;
  animation: carousel-slide 10s infinite;
}

.parent-telephony-section-one .carousel-item {
  flex: 0 0 100%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
}

.parent-telephony-section-one .carousel-item img {
  max-width: 100%;
  max-height: 100%;
}

@keyframes carousel-slide {
  0% {
    transform: translateX(0);
  }
  33.33% {
    transform: translateX(-100%);
  }
  66.66% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0);
  }
}

@media only screen and (max-width: 599px) {
  .parent-telephony-section-one .cloud-telephony-section-two > img {
    width: 100%;
  }
}
