.tile-add {
    height: 80vh;
    width: 50vh;
}

.cover {
    overflow: auto;
    border-radius: 10px;
}

.cover-image {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.attach-drag-drop-competition .attached-file-wrapper {
    border: 1px solid var(--grey-60);
    border-radius: 40px;
    padding: 10px;
    background: var(--global-white);
}

.attach-drag-drop-competition .drag-drop-container {
    background: var(--global-white) 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px var(--box-shadow-color);
    border: 1px dashed var(--grey-60);
    border-radius: 10px;
    height: 80vh;
    padding: 10px;
    margin-bottom: 5px;
}

.attach-drag-drop-competition .drag-drop-container button.upload-ico {
    background-image: url("../../../../assets/images/svg/dragdrop-upload-ico.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    border-radius: 0;
}