.upload-audio-root {
  width: 100%;
  height: 100vh;
}

.upload-audio-root .heading {
  color: var(--global-black);
  font-size: var(--font-size-big-head);
}

.upload-audio-root .btn-password .mat-icon {
  font-size: var(--font-size-title) !important;
  color: var(--color-black);
}

.upload-audio-root .content-modal-action .bottom-container {
  width: 100% !important;
}
