.welcome-title-center {
    height: calc(100vh - 80px) !important;
    top: -15px !important;
    margin-right: 12px;
}

.display-img {
    width: 100%;
}

.display-title {
    font-size: 20px;
    font-weight: 900;
}